<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.lucas.auto-sync-vscode</string>
        <key>ServiceDescription</key>
        <string>Auto sync VSCode configs to git repository</string>
        <key>ProgramArguments</key>
        <array>
            <string>zsh</string>
            <string>-c</string>
            <string>/Users/lucas/dev/my-config/auto_sync/sync_vscode.sh</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/lucas/tmp/com.lucas.sync-vscode.stdout</string>
        <key>StandardErrorPath</key>
        <string>/Users/lucas/tmp/com.lucas.sync-vscode.stderr</string>
        <key>WorkingDirectory</key>
        <string>/Users/lucas/dev/my-config/auto_sync/</string>
        <key>KeepAlive</key>
        <true/>
     </dict>
  </plist>
